<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <!--<link rel="icon" href="../../favicon.ico">-->

		<title>Cordoba Aprende - Login</title>
		<!--<script src=../static/bootstrap.min.js></script>-->
	    <!-- Bootstrap core CSS -->
    	<link href="../static/bootstrap.min.css" rel="stylesheet">

		<link href="../static/login.css" rel="stylesheet">

	</head>
	<body>

		<div class="container">

		  <div class="well">
		  	<h1>Córdoba Aprende</h1>
		  </div>

	      <form class="form-signin" role="form">
	        <h2 class="form-signin-heading">Por favor Loguearse</h2>
	        <input type="email" class="form-control" placeholder="Correo Electrónico" required autofocus>
	        <input type="password" class="form-control" placeholder="Contraseña" required>
	        <label class="checkbox">
	          <input type="checkbox" value="remember-me"> Recordarme
	        </label>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	      </form>

	    </div> <!-- /container -->
		
	</body>
</html>